.offer-form {
    >h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 600;
    }

    label {
        h4 {
            font-size: 18px;
            font-weight: 600;
        }

        input {
            width: 410px;
            border: 1px solid #E0E4E8;
            border-radius: 8px;
            font-size: 20px;
            padding: 14px;
            font-weight: 300;
        }
    }

    .offer-form__first-name__errors {
        height: 50px;

        p {
            height: 40px;
        }
    }

    button {
        padding: 5px;
        font-size: 20px;
        border-radius: 4px;
    }

    .offer-form__first-name__errors {
        p {
            color: red !important;
            font-weight: 300 !important;
            font-size: 18px !important;
        }
    }

    input:focus {
        background-color: rgba(194, 228, 228, 0.336);
    }

    .one-offer__custom-button-disabled {
        padding: 10px 30px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;
    }

    .offer-form__submit-button {
        border: none;
        display: block;
        position: relative;
        color: #c1daee;
        background-color: #1CBBFF;
        text-transform: uppercase;
        padding: 10px 30px;
        font-size: 18px;
        font-weight: 600;
        transition: 0.1s;
        letter-spacing: 0.1px;

        &::before {
            content: '';
            position: absolute;
            inset: 3px;
            background-color: rgb(66, 66, 66);
        }

        & span {
            position: relative;
            z-index: 1;
        }

        & i {
            position: absolute;
            inset: 0;
            display: block;
        }

        & i::before {
            position: absolute;
            content: '';
            top: 0;
            left: 80%;
            height: 3px;
            width: 20px;
            background-color: rgb(66, 66, 66);
            transform: translateX(-50%) skewX(300deg);
            transition: 0.5s;
        }

        &:hover {
            cursor: pointer;
            letter-spacing: 0.8px;
            box-shadow: 0 0 10px black, 0 0 30px black;
        }

        &:hover i::before {
            width: 40px;
            left: 20%;
        }

        & i::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 20%;
            height: 3px;
            width: 20px;
            background-color: rgb(66, 66, 66);
            transform: translateX(-50%) skewX(300deg);
            transition: 0.5s;
        }

        &:hover i::after {
            width: 40px;
            left: 80%;
        }
    }
}