.future-page {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

    h1 {
        font-weight: 700;
        font-size: 90px;
    }

    @media (max-width: 1080px) {
        h1 {
            font-size: 50px;
        }
    }

    @media (max-width: 780px) {
        h1 {
            font-size: 30px;
        }
    }
}